#clockContainer{

    background-color: rgb(20, 18, 18);
    margin: auto;
    border: 4px solid silver;
    height: 40vw;   
    width: 40vw;
    position: relative;
    background: url(Clock.png) no-repeat;
    background-size: 100%;
}

#hours, #minutes, #seconds{
    position: absolute;
    background: rgb(35, 36, 30);
    border-radius: 10px;
    border-color: black;
    
}

 #hours{
      width: 2.0%;
      height: 10%;
      top: 39.0%;   
      left: 50.5%;
      opacity: 0.8;
      transform-origin: bottom;
      
 }

 #minutes{
     
      width: 1.4%;
      height: 15%;
      top: 34.7%;
      left: 50.8%;
      opacity: 0.8; 
      transform-origin: bottom;

 }

 #seconds{
      width: 1%;
      height: 22%;
      top: 27%;
      left: 50.9%;
      opacity: 0.8;
     transform-origin: bottom;

    }

 
